# Virtual Environment
/env/

# Compiled files
*.pyc
__pycache__/

# Package directories
*.egg-info/
dist/
build/

# Distribution / packaging
.Python
env/

# Local development configuration
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# Ignore the generated HTML output of Sphinx documentation
docs/_build/

# Ignore .DS_Store files on macOS
.DS_Store

# Ignore any logs or temporary files
*.log
*.swp
*.swo
*.swn
*.pyc
*.bak
